# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ZIN\Documents\GitHub\Machine_Learning\Reinforcement_Learning\reinforcement-learning-kr-v2-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
